{% extends "page.html" %}
{% import "_dgu_jinja_util.html" as m with context %}

{% block title %}Harvest Source Details - {{ super() }}{% endblock %}


{% block optional_head %}
    <link type="text/css" rel="stylesheet" media="all" href="/ckanext/harvest/style.css" />
{% endblock %}

{% block breadcrumb_content %}
    <li><a href="/data/search">Datasets</a></li>
    <li><a href="/harvest">Harvest sources</a></li>
    <li><a class="active" href="/harvest/{{c.source.name or c.source.id}}">{{c.source.title}}</a></li>
{% endblock %}

{% block primary_content_inner %}
  <div class="harvest-content boxed">
  {% if c.source %}
  <h1>Harvest Source</h1>
  <div id="harvest-source-actions">
  {% if h.check_access('harvest_source_update', {'id':c.source.id}) %}
  <a class="btn btn-primary" href="/harvest/edit/{{c.source.name or c.source.id}}">
    <i class="icon-edit"></i>
    Edit source
  </a>
  {% endif %}
  {% if h.check_access('harvest_job_create', {'source_id':c.source.id}) %}
  <a class="btn btn-primary" {% if not c.source.active %}disabled='disabled'{% endif%} href="/harvest/refresh/{{c.source.name or c.source.id}}">
    <i class="icon-refresh"></i>
    Refresh source
  </a>
  {% endif %}
  </div>
    {% if not c.source.active %}
    <div  class="alert alert-block">NB: This Harvest Source is Inactive. Therefore its metadata will not be harvested again. However, any records that were previously harvested remain in the catalogue.</div>
    {% endif %}
    {% with job_detail=h.check_access('harvest_job_create', {'source_id':c.source.id}) %}
    <table id="harvest-source-details" class="table table-bordered table-condensed" >
      {% if job_detail and not c.source.name %}
        <tr>
            <th>ID</th>
            <td>{{c.source.id}}</td>
        </tr>
        {% endif %}
        <tr>
            <th>URL</th>
            <td>{{c.source.url}}</td>
        </tr>
        <tr>
            <th>Type</th>
            <td>{{c.source.type}}</td>
        </tr>
        <tr>
            <th>Update Frequency</th>
            <td>{{(c.source.frequency or '').capitalize()}}</td>
        </tr>
        {% if job_detail %}
        <tr>
            <th>Active</th>
            <td>{{c.source.active}}</td>
        </tr>
        {% endif %}
        {% if c.source.title%}
        <tr>
            <th>Title</th>
            <td>{{c.source.title}}</td>
        </tr>
        {% endif %}
        <tr>
            <th>Description</th>
            <td>{{c.source.description}}</td>
        </tr>
        <tr>
            <th>Configuration</th>
              {% if c.source.config %}
                <td>{{c.source.config}}</td>
              {% else %}
                <td>-</td>
              {% endif %}
        </tr>
        {% if job_detail %}
        <tr  style="display: none">
            <th>User</th>
            <td>{{c.source.user_id}}</td>
        </tr>
        {% endif %}
        <tr>
            <th>Publisher</th>
            <td>
              {% if c.source.publisher_title %}
                <a href="{{h.url('organization_read', id=c.source.publisher_name)}}">
                  {{c.source.publisher_title}}
                </a>
              {% else %}
                {{c.source.publisher_id}}
              {% endif %}
            </td>
        </tr>
        <tr>
            <th>Created</th>
            <td>{{h.render_datetime(c.source.created, with_hours=True)}}</td>
        </tr>
        {% if job_detail %}
        <tr>
            <th>Total harvests</th>
            <td>{{c.source.status.job_count}}</td>
        </tr>
        <tr class="harvest-status">
            <th>Status</th>
            <td>
              {% if  c.source.status.running_job or c.source.status.last_job%}
                {% if c.source.status.running_job%}
                <p>
                  <strong>
                      Harvesting in progress: {{h.literal(c.source.status.running_job)}}<br/>
                  </strong>
                </p>
                {% else %}
                <p>
                  Last Harvest: <br/>
                </p>
                {% endif %}
              Date: {{h.render_datetime(c.source.status.last_job.created, with_hours=True)}} <br/>
              {% if c.source.status.last_job %}
                Harvest
                {% if c.source.status.last_job.status != 'Aborted' %}
                    {% if not c.source.status.running_job%}
                        complete
                    {% endif %}
                {% else %}
                    was aborted
                {% endif %}

                <a name="errors"></a>
                {# aborted jobs are usually aborted before they make it to the gather stage, so don't confuse the user by showing error message or, worse saying 'no errors'. #}
                {% if c.source.status.last_job.status != 'Aborted' %}
                  -
                  {% if not c.source.status.last_job.stats.get('errored') %}
                    no errors
                  {% else %}
                    Errors: {{c.source.status.last_job.stats.get('errored', 0)}}</a>
                  {% endif %}
                  {% if c.source.status.running_job %}
                    so far
                  {% endif %}
                {% endif %}
                <br/>

                {% if c.source.status.last_job.gather_errors|length>0 %}
                        <i>Gathering errors</i>
                        <ul>
                        {% for error in c.source.status.last_job.gather_errors %}
                        <li>
                            {% set lines=error.get('message', '').split('\n') %}
                            {% for line in lines %}
                            <div class="message">{{line}}</div>
                            {% endfor %}
                        </li>
                        {% endfor %}
                        </ul>
                {% endif %}
                {% if c.source.status.last_job.object_errors|length>0 %}
                      <i>Object errors</i>
                      <ul>
                      {% for error in c.source.status.last_job.object_errors %}
                        <li>
                          <div class="message">Harvest of GUID <a href="/harvest/object/{{error.harvest_object_id}}">{{error.object.guid}}</a></div>
                          {% for section in error.message.split('\n\n') %}
                          <div class="message-section">
                            {% for line in section.split('\n') %}
                            <div class="message">
                              {{line}}
                            </div>
                            {% endfor %}
                          </div>
                          {% endfor %}
                      </li>
                      {% endfor %}
                      </ul>
                {% endif %}
                <!-- Not displaying these numbers as they are confusing - see notes below. -->
                <span style="display:None">
                 Harvested records:
                  <!-- NB this will all be zero if there are no HarvestObjects - i.e. if the harvester is designed to do everything in the gather stage. Or if the gather stage can see that none of the records have updated since the last harvest and therefore no objects needed. And datasets that were updated with state=deleted are shown as 'reimported' yet don't appear in the list of datasets.-->
                  {% for result in ['new', 'reimported', 'errored'] %}
                    {{result}}: {{c.source.status.last_job.stats.get(result, 0)}}
                  {% endfor %}
                  {% for result in ['deleted', 'unchanged'] %}
                    <!--! 'unchanged' only used if the fetch checks if an update is necessary or not. Many harvesters may always update. So we only display these fields if there is a value. -->
                    {% if c.source.status.last_job.stats.get(result) %}
                      {{result}}: {{c.source.status.last_job.stats.get(result, 0)}}
                    {% endif %}
                  {% endfor %}
                  <br/>
                </span>
              {% endif %}
             {% endif %}
              {% if not (c.source.status.running_job or c.source.status.last_job)%}
               Harvest not yet running
               {% endif %}
            </td>
        </tr>
        <tr>
            <th>Next harvest</th>
            <td>
              {% if c.source.next_run%}
              <div>
                Next automatic run: {{h.render_datetime(c.source.next_run, with_hours=True)}}
              </div>
              {% endif %}
              {% if c.source.status.next_harvest_job %}
              <div>
                Scheduled to start within 10 minutes
              </div>
              {% endif %}
            </td>
        </tr>
        <tr>
            <th>Total Datasets (from all harvests)</th>
            <td>{{c.source.status.total_datasets}}</td>
        </tr>
        {% endif %}
        <tr>
            <th>Datasets</th>
            <td>
                <a name="datasets"></a>
                {% if job_detail %}
                <div>There could be a 10 minutes delay before these datasets (or changes to them) appear on
                the site or on search results.</div>
                {% endif %}
                <p>There are <strong>{{c.page.item_count}}</strong> datasets.</p>

                {% for item in c.page.items %}
                <div>
                <a href="/dataset/{{item}}">{{item}}</a>
                </div>
                {% endfor %}
                {{ m.paginator(c.page)}}

            </td>
        </tr>
    </table
    {% endwith %}>
    {% endif %}
  </div>
</div>
{% endblock %}